body {
  background-color: #e7e7e7;
  font: 400 1.25em/1.38 Oxygen;
  color: #e7e7e7;
}

.addalbum,
.addwish {
  float: left;
  width: 100%;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: #e7e7e7;
}

.addnewrecord {
  float: left;
  width: 38.775510204%;
  height: 40px;
  min-height: 31px;
  margin-left: 30.60959%;
  font: 600 1.4em/1.38 'Josefin Slab';
  text-align: center;
  color: #e7e7e7;
}

.addnewrecordcontainer {
  position: fixed;
  top: 242px;
  left: -49%;
  z-index: 30;
  width: 49%;
  height: 368px;
  background-color: #9e9e9e;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.addnewrecordcontainer .container {
  float: left;
  clear: both;
  width: 34.693877551%;
  height: 74px;
  margin: 100px 0 0 32.65306%;
}

.album {
  position: relative;
  float: left;
  clear: both;
  z-index: 33;
  min-height: 31px;
  margin-top: -2px;
  font-size: 1.5em;
  line-height: 1.38;
  color: #393939;
}

.albumcover {
  display: block;
  position: relative;
  float: left;
  z-index: 38;
  width: 42.9753335674%;
  height: auto;
  overflow: hidden;
}

.albumlist {
  position: absolute;
  bottom: 0;
  left: 25%;
  z-index: 7;
  width: 25%;
  height: 54px;
  background-color: #9e9e9e;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.artist {
  position: relative;
  float: left;
  z-index: 32;
  min-height: 31px;
  margin-left: -0.16218%;
  font-size: 1.5em;
  line-height: 1.38;
  color: #393939;
}

.container .element {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
}

.element {
  width: 100%;
  height: 200px;
  background-color: #393939;
}

.genrelist {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 14;
  width: 25%;
  height: 162px;
  background-color: #9e9e9e;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.genrelist .text {
  font-size: 1em;
  text-align: center;
}

.genres {
  float: left;
  clear: both;
  margin-left: -0.00936%;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.home {
  float: left;
  width: 25.5%;
  height: 148px;
  min-height: 146px;
  margin: 34px 0 0 7.5%;
  padding-bottom: 15px;
  font: 600 3.75em/1 'Josefin Slab';
  color: #e7e7e7;
}

.home p {
  margin-bottom: 1em;
}

.inputalbum {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  height: 30px;
  margin-top: 12px;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font: 400 0.65em/1.38 'Josefin Slab';
  color: rgb(0, 0, 0);
}

.inputartist {
  display: block;
  float: left;
  width: 100%;
  height: 30px;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font: 400 0.65em/1.38 'Josefin Slab';
  color: rgb(0, 0, 0);
}

.newestalbums {
  float: left;
  clear: both;
  width: 100%;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(222, 222, 222);
}

.addalbum:active,
.addalbum:hover,
.newestalbums:active,
.newestalbums:hover {
  background-color: rgb(74, 175, 183);
  color: rgb(222, 222, 222);
}

.notes {
  display: block;
  visibility: hidden;
  position: relative;
  float: left;
  clear: both;
  z-index: 37;
  width: 39.6923279494%;
  height: 31px;
  margin: 12px 0 0 -0.01756%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.65em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.recordcontainer {
  position: fixed;
  top: 242px;
  left: -70%;
  z-index: 43;
  width: 70%;
  height: 394px;
  background-color: #9e9e9e;
  overflow: scroll;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.text {
  float: left;
  line-height: 1.38;
  color: #e7e7e7;
}

.tracks {
  float: left;
  clear: both;
  min-height: 244px;
  margin-left: -0.15282%;
  padding: 8px;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.25;
  text-indent: 20px;
  color: rgb(0,0,0);
}

.viewlist {
  float: left;
  clear: both;
  width: 100%;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: #e7e7e7;
}

.wishlistlist {
  position: absolute;
  bottom: 0;
  left: 75%;
  z-index: 17;
  width: 25%;
  height: 54px;
  background-color: #9e9e9e;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.albumstab,
.artiststab,
.genrestab,
.wishlisttab {
  float: left;
  width: 25%;
  height: 40px;
  min-height: 31px;
  font: 600 1.4em/1.38 'Josefin Slab';
  text-align: center;
  color: #e7e7e7;
}

.year {
  float: left;
  clear: both;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

._button {
  display: block;
  height: 26px;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font: 100 0.8em/1.38 'Josefin Slab';
  text-align: center;
  color: rgb(0, 0, 0);
}

._button:active,
._button:hover {
  background-color: rgb(74, 175, 183);
}

._input {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 45;
  width: 23.5833333333%;
  height: 26px;
  margin: -66px 0 0 76%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font: 400 0.65em/1.38 'Josefin Slab';
  color: rgb(0, 0, 0);
}

.addnewrecordcontainer ._button {
  float: left;
  clear: both;
  width: 38.725490196%;
  margin: 13px 0 0 61.27451%;
}

.container ._container {
  position: relative;
  float: left;
  clear: both;
  width: 70.3790688996%;
  margin: -349px 0 0 44.3008%;
}

.recordcontainer ._button {
  width: 80px;
}

.container-1 {
  position: relative;
  float: left;
  z-index: 25;
  width: 100%;
  height: 200px;
  background-color: #393939;
}

.container-2 {
  float: right;
  width: 408px;
  height: 40px;
  margin: 160px 7.5% 0 0;
}

.container-3 {
  position: relative;
  float: right;
  z-index: 17;
  width: 408px;
  height: 199px;
  margin: -200px 7.5% 0 0;
}

.container-4 {
  position: relative;
  float: left;
  z-index: 39;
  width: 84.7451636904%;
  margin: 26px 0 0 2.8125%;
}

.container-6 {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 42;
  width: 170px;
  height: 26px;
}

.container-8 {
  position: absolute;
  top: 988px;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 200px;
}

.element-2 {
  position: fixed;
  top: 941px;
  left: 0;
}

.text-1 {
  width: 100%;
}

.text-4 {
  clear: both;
  width: 100%;
}

.text-2,
.text-3,
.text-5,
.text-6 {
  clear: both;
  width: 98.0392156862%;
}

.text-7 {
  position: relative;
  z-index: 2;
  margin: 66px 0 0 7.5%;
  font-family: 'Josefin Slab';
  font-size: 1.4em;
  font-weight: 600;
}

._button-1 {
  position: relative;
  float: right;
  clear: both;
  z-index: 44;
  width: 80px;
  margin: -34px 5px 0 0;
}

.container ._button-2 {
  float: left;
}

.container ._button-3 {
  float: right;
}