<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Records</title>
  <link href="http://fonts.googleapis.com/css?family=Oxygen:400,400|Josefin+Slab:600,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/index-grid.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body class="body page-index clearfix">
  <div class="container container-1 clearfix">
    <div class="home">
      <p>Riley's Records</p>
      <p><br></p>
</div>
    <div class="container clearfix">
      <div class="artiststab js-artists-tab">&nbsp;artists</div>
      <p class="albumstab js-albums-tab">&nbsp;albums</p>
      <p class="genrestab js-genres-tab">genres</p>
      <div class="wishlisttab js-wishlist-tab">wishlist</div>
    </div>
  </div>
  <div class="container container-3">
    <div class="wishlistlist clearfix js-wishlist-menu">
      <p class="addwish js-add-wish-button">add new</p>
      <p class="viewlist js-view-list-button">view</p>
    </div>
    <div class="genrelist clearfix js-genres-menu">
      <p class="text text-1">alternative</p>
      <p class="text text-2">bluegrass</p>
      <p class="text text-3">blues</p>
      <p class="text text-4">folk</p>
      <p class="text text-5">jazz</p>
      <p class="text text-6">rock</p>
    </div>
    <div class="albumlist clearfix js-albums-menu">
      <p class="addalbum js-add-album-button">add new</p>
      <p class="newestalbums js-newest-albums-button">newest</p>
    </div>
  </div>
  <div class="recordcontainer clearfix js-record-dialog">
    <img class="image" src="images/ab_magpie.jpg">
    <div class="artist">The Avett Brothers</div>
    <div class="album">Magpie and the Dandelion</div>
    <p class="year">2014</p>
    <p class="genres">Genre(s)</p>
    <input class="notes js-notes" name="notes" placeholder="notes" type="text">
    <div class="tracks">
      <p>1. Open-Ended Life</p>
      <p>2. Morning Song</p>
      <p>3. Never Been Alive</p>
      <p>4. Another Is Waiting</p>
      <p>5. Bring Your Love To Me</p>
      <p>6. Good To You</p>
      <p>7. Part From Me</p>
      <p>8. Skin and Bones</p>
      <p>9. Souls Like the Wheels [Live]</p>
      <p>10. Vanity</p>
      <p>11. The Clearness Is Gone</p>
</div>
    <button class="_button js-add-record-button">add</button>
  </div>
  <div class="addnewrecordcontainer clearfix js-add-new-record-dialog">
    <p class="addnewrecord">add new record</p>
    <div class="container clearfix">
      <input class="inputartist js-artist-input" name="artistInput" placeholder="artist" type="text">
      <input class="inputalbum js-album-input" name="albumInput" placeholder="album" type="text">
      <button class="_button js-lookup-button">Look up</button>
    </div>
  </div>
  <div class="container container-5 clearfix">
    <div class="element"></div>
    <div class="text text-7">
      <p>2015</p>
      <p>Riley Lundquist</p>
</div>
  </div>
  <div class="element element-2"></div>

  <script src="js/jquery-min.js"></script>
  <script src="js/index.js"></script>
</body>
</html>