<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>record</title>
  <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:600|Oxygen:400,400" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/record-grid.css">
  <link rel="stylesheet" href="css/record.css">
</head>
<body class="body page-record clearfix">
  <div class="container _container container-1 clearfix">
    <p class="text text-1">genres</p>
    <p class="text text-2">wishlist</p>
    <div class="text text-3">
      <p>&nbsp;albums</p>
      <p><br></p>
</div>
    <p class="text text-4">&nbsp;artists</p>
  </div>
  <p class="text text-5">Palomino</p>
  <div class="container container-2 clearfix">
    <div class="home">
      <p>Riley's Records</p>
      <p><br></p>
</div>
    <div class="container container-3 clearfix">
      <div class="artiststab">&nbsp;artists</div>
      <div class="albumstab">
        <p>&nbsp;albums</p>
        <p><br></p>
</div>
      <div class="genrestab">genres</div>
      <div class="wishlisttab">wishlist</div>
    </div>
  </div>
  <div class="container _container container-4 clearfix">
    <img class="image image-1" src="images/ab_magpie-306x306.jpg" data-rimage data-src="images/ab_magpie-306x306.jpg">
    <div class="container _container clearfix">
      <div class="artist">The Avett Brothers</div>
      <div class="album">Magpie and the Dandelion</div>
      <div class="tracks">
        <p>1. Open-Ended Life</p>
        <p>2. Morning Song</p>
        <p>3. Never Been Alive</p>
        <p>4. Another Is Waiting</p>
        <p>5. Bring Your Love To Me</p>
        <p>6. Good To You</p>
        <p>7. Part From Me</p>
        <p>8. Skin and Bones</p>
        <p>9. Souls Like the Wheels [Live]</p>
        <p>10. Vanity</p>
        <p>11. The Clearness Is Gone</p>
</div>
    </div>
  </div>
  <div class="container _container container-6 clearfix">
    <div class="albumlist clearfix js-albums-menu">
      <p class="text">add new</p>
      <p class="text text-7">newest</p>
      <p class="text text-8">list</p>
    </div>
    <div class="genrelist clearfix js-genres-menu">
      <p class="text text-9">alternative</p>
      <p class="text text-10">bluegrass</p>
      <p class="text text-11">blues</p>
      <p class="text text-12">folk</p>
      <p class="text text-13">jazz</p>
      <p class="text text-14">rock</p>
    </div>
    <div class="wishlistlist clearfix js-wishlist-menu">
      <p class="text text-15">add new</p>
      <p class="text text-16">view</p>
    </div>
  </div>
  <div class="container _container container-7 clearfix">
    <p class="text text-17">more by The Avett Brothers &nbsp;</p>
    <img class="image image-2" src="images/ab_the_carpenter-204x204.jpg" data-rimage data-src="images/ab_the_carpenter-204x204.jpg">
  </div>
  <p class="text text-18">&nbsp;</p>
  <div class="container _container container-8 clearfix">
    <div class="element"></div>
    <div class="text text-19">
      <p>2014</p>
      <p>Riley Lundquist</p>
</div>
  </div>

  <script src="js/jquery-min.js"></script>
  <script src="js/rimages.js"></script>
</body>
</html>